* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #18182a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Keeps box raised */
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 20px 15px; /* Higher padding moves the card up */
}

.todo-app {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.todo-app h2 {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.todo-app h2 img {
  width: 28px;
  margin-left: 10px;
}

.row {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding-left: 15px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 5px;
  color: #fff;
  font-size: 15px;
}

button {
  border: none;
  padding: 10px 25px;
  background: #ff5945;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
}

ul li {
  list-style: none;
  padding: 12px 10px 12px 45px;
  cursor: pointer;
  position: relative;
  color: #ddd;
  font-size: 15px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #ff5945;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

ul li.checked {
  color: #666;
  text-decoration: line-through;
}
ul li.checked::before {
  background: #ff5945;
  content: "✓";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

ul li span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #888;
}

.shake {
  animation: shake 0.2s ease-in-out 2;
}
@keyframes shake {
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}
